<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">
  <p><%= t('messages.menu') %></p>
  <p class="lead">
    <%= render 'menu' %>
  </p>
</div>

<!--<p>O idioma usado é: <strong<%#= locale %></strong></p>-->
<!--<p>O idioma usado é: <strong<%#= t('actual_locale') %></strong></p>-->
<!--<p><strong>Data:</strong><%#= I18n.l(Date.today) %></p>-->
<!--<p><%#= I18n.t('hello') %></p>-->
<!--<p>Você esta em ambiente de <strong><%#= ambiente_rails %></strong></p>-->
<!--<p>Variável de instância/sessão <strong><%#= @meu_nome %></strong></p>-->
<!--<p>Meu curso <strong><%#= @curso %></strong></p>-->

